.article__author {
  padding: 28px 0 48px;
  display: flex;
  gap: 16px;
  max-width: 288px;
  width: 100%;
  min-height: 64px;
}

@media screen and (max-width: 650px) {
  .article__author {
    max-width: 240px;
    padding-bottom: 36px;
  }
}
