.article__avatar {
  min-width: 64px;
  height: 64px;
  background-color: #F1F3F5;
  border-radius: 50%;
  background-image: url("../../../images/avatar.svg");
  background-repeat: no-repeat;
  background-position: center;
}
